In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
chunksize = 5 * 10 ** 5
filename = 'matches_small.csv'
print(pd.read_csv(filename, nrows=5))

     match_id  match_seq_num radiant_win  start_time  duration  \
0  2304340261     2019317886           t  1461013929      1701
1  2304335744     2019317899           t  1461013382      2299
2  2304324185     2019317908           t  1461012679      3291
3  2304339409     2019317931           f  1461013865      2192
4  2304329004     2019317805           t  1461012987      2989

   tower_status_radiant  tower_status_dire  barracks_status_radiant  \
0                  1975                  4                       63
1                  1983                  0                       63
2                  1584                  0                       60
3                     0               1982                        0
4                     4                  0                        3

   barracks_status_dire  cluster  ...  engine  picks_bans  parse_status  chat  \
0                     3      155  ...       1         NaN             3   NaN
1                     0      136  ...       1         NaN             3   NaN
2                     0      134  ...       1         NaN             3   NaN
3                    63      137  ...       1         NaN             3   NaN
4                    48      191  ...       1         NaN             3   NaN

   objectives  radiant_gold_adv  radiant_xp_adv  teamfights  version  \
0         NaN               NaN             NaN         NaN      NaN
1         NaN               NaN             NaN         NaN      NaN
2         NaN               NaN             NaN         NaN      NaN
3         NaN               NaN             NaN         NaN      NaN
4         NaN               NaN             NaN         NaN      NaN

                                              pgroup
0  {"0":{"account_id":4294967295,"hero_id":93,"pl...
1  {"0":{"account_id":4294967295,"hero_id":29,"pl...
2  {"0":{"account_id":124964100,"hero_id":26,"pla...
3  {"0":{"account_id":294843235,"hero_id":94,"pla...
4  {"0":{"account_id":4294967295,"hero_id":14,"pl...

[5 rows x 27 columns]

In [7]:
#run this once to create database
chunksize = 5 * 10 ** 5
filename = 'matches_small.csv'
csv_database = create_engine('sqlite:///csv_database.db')
for chunk in pd.read_csv(filename, chunksize=chunksize):
    i = 0
    j = 1
    for df in pd.read_csv(filename, chunksize=chunksize, iterator=True):
          df = df.rename(columns={c: c.replace(' ', '') for c in df.columns}) 
          df.index += j
          i+=1
          df.to_sql('table', csv_database, if_exists='append')
          j = df.index[-1] + 1

In [2]:
#run this every time
csv_database = create_engine('sqlite:///csv_database.db')
df = pd.read_sql_query("SELECT * FROM 'table'LIMIT 1000000", csv_database)

In [3]:
for col in df.columns: 
    print(col) 
df.shape

index
match_id
match_seq_num
radiant_win
start_time
duration
tower_status_radiant
tower_status_dire
barracks_status_radiant
barracks_status_dire
cluster
first_blood_time
lobby_type
human_players
leagueid
positive_votes
negative_votes
game_mode
engine
picks_bans
parse_status
chat
objectives
radiant_gold_adv
radiant_xp_adv
teamfights
version
pgroup

(1000000, 28)

In [4]:
#cleaning out columns that aren't needed are complicated
# website as reference https://wiki.teamfortress.com/wiki/WebAPI/GetMatchDetails#Tower_Status
df = df.drop(['index'], axis=1)
df = df.drop(['match_id'], axis=1) #match id isn't useful for this type of data
df =df.drop(['match_seq_num'], axis=1) #match_seq_num isn't important
#radiant_win is used for victory (what we use to predict)
df = df.drop(['start_time'], axis=1) #seems random
#duration seems useful
df = df.drop(["cluster"],axis=1) #not important
df = df.drop(["leagueid"],axis=1) #not important 
df = df.drop(["positive_votes"],axis=1) #not important
df = df.drop(["negative_votes"],axis=1) #not important
df = df.drop(["engine"],axis=1) #not important
df = df.drop(["parse_status"],axis=1) #not important
df = df.drop(["chat"],axis=1) #not important
df = df.drop(["objectives"],axis=1) #other things can represent this, such as tower status and barracks status
df = df.drop(["version"],axis=1) # not important
df = df.drop(["pgroup"],axis=1) # not important

df = df.drop(["picks_bans"],axis=1) #pick_bans seems complicated (does hero order and all that)

In [5]:
for col in df.columns: 
    print(col) 
df.shape
df

radiant_win
duration
tower_status_radiant
tower_status_dire
barracks_status_radiant
barracks_status_dire
first_blood_time
lobby_type
human_players
game_mode
radiant_gold_adv
radiant_xp_adv
teamfights

,radiant_win,duration,tower_status_radiant,tower_status_dire,barracks_status_radiant,barracks_status_dire,first_blood_time,lobby_type,human_players,game_mode,radiant_gold_adv,radiant_xp_adv,teamfights
0,t,1701,1975,4,63,3,100,0,10,1,None,None,None
1,t,2299,1983,0,63,0,127,0,10,18,None,None,None
2,t,3291,1584,0,60,0,196,0,10,1,None,None,None
3,f,2192,0,1982,0,63,44,0,10,5,None,None,None
4,t,2989,4,0,3,48,104,0,10,1,None,None,None
5,f,2586,0,2046,0,63,111,0,10,1,None,None,None
6,t,2759,1974,260,63,51,142,0,10,4,None,None,None
7,t,1485,2046,4,63,3,138,7,10,22,None,None,None
8,t,2734,1972,0,63,0,320,0,10,1,None,None,None
9,f,3500,0,1958,0,63,10,7,10,22,None,None,None
10,f,2769,0,2022,0,63,0,7,10,3,None,None,None
11,t,2349,1982,256,63,48,107,7,10,22,None,None,None
12,f,2337,391,1588,51,63,0,7,10,22,None,None,None
13,f,1717,0,2047,0,63,140,7,10,22,None,None,None
14,f,2776,0,772,0,51,145,0,10,4,None,None,None
15,f,3275,288,516,60,15,111,0,10,1,None,None,None
16,f,2886,4,1958,3,63,7,0,10,18,None,None,None
17,f,561,2047,2047,63,63,136,8,2,21,None,None,None
18,t,2512,2038,0,63,0,8,0,10,1,None,None,None
19,t,2672,1974,0,63,0,130,7,10,22,None,None,None
20,f,1924,0,2046,0,63,15,7,10,22,None,None,None
21,f,2329,0,1974,0,63,104,0,10,1,None,None,None
22,f,2949,0,1956,0,63,279,7,10,22,None,None,None
23,f,2477,0,2047,48,63,131,4,5,1,None,None,None
24,f,2269,0,2038,0,63,75,0,10,1,None,None,None
25,t,2180,1798,0,63,0,0,7,10,22,None,None,None
26,f,2988,0,1975,0,63,131,0,10,1,None,None,None
27,t,2688,1974,0,63,0,45,7,10,22,None,None,None
28,t,1775,1972,2039,63,63,67,0,10,20,None,None,None
29,f,3923,0,1796,0,51,38,4,5,1,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999970,f,2669,0,1974,0,63,194,7,10,22,None,None,None
999971,t,2616,1840,0,63,48,174,0,10,1,None,None,None
999972,t,2880,1572,4,63,3,10,7,10,22,None,None,None
999973,t,2551,1972,0,63,0,154,7,10,22,None,None,None
999974,f,1803,6,2046,3,63,58,0,10,1,None,None,None
999975,f,2024,0,1974,0,63,10,7,10,22,None,None,None
999976,t,3790,512,0,3,0,216,7,10,22,None,None,None
999977,t,2691,1982,0,63,0,2,7,10,22,None,None,None
999978,f,3382,0,1956,3,63,176,0,10,1,None,None,None
999979,t,2125,2039,0,63,0,4,7,10,22,None,None,None
999980,t,2343,1846,4,63,3,45,7,10,22,None,None,None
999981,f,2459,0,1924,15,63,0,0,10,4,None,None,None
999982,t,3036,1412,0,51,0,139,4,5,1,None,None,None
999983,f,2787,0,1958,0,63,415,0,10,3,None,None,None
999984,t,1611,2047,0,63,0,58,7,10,22,None,None,None
999985,f,3497,390,0,51,0,60,0,10,1,None,None,None
999986,f,2295,0,1982,0,63,94,7,10,22,None,None,None
999987,t,1765,1844,4,63,3,97,0,10,1,None,None,None
999988,f,2436,256,1982,48,63,89,7,10,22,None,None,None
999989,t,2987,1974,0,63,0,100,7,10,22,None,None,None
999990,f,2442,0,2038,0,63,131,0,10,1,None,None,None
999991,f,2023,260,2038,51,63,0,7,10,3,None,None,None
999992,f,2647,0,1956,0,63,0,7,10,22,None,None,None
999993,f,2695,0,1958,0,63,84,0,10,1,None,None,None
999994,t,2497,1974,0,63,0,9,7,10,22,None,None,None
999995,f,1935,0,2047,0,63,0,7,10,22,"{-371,-246,-838,-1353,-2680,-2618,-3547,-3937,...","{-128,62,-223,-363,-1373,-1080,-2093,-2063,-22...","{""{\""start\"":210,\""end\"":254,\""last_death\"":23..."
999996,f,4204,0,388,0,51,51,0,10,1,"{0,-166,-77,-85,127,-115,-78,-440,-699,-1150,6...","{0,64,-363,-304,283,-108,524,226,-240,-550,179...","{""{\""start\"":549,\""end\"":587,\""last_death\"":57..."
999997,t,2008,2046,4,63,3,284,7,10,2,"{0,-35,-179,-32,-153,-379,-94,159,461,585,1235...","{0,140,-85,-285,-197,112,182,133,153,370,987,1...","{""{\""start\"":562,\""end\"":596,\""last_death\"":58..."
999998,f,2927,0,1956,0,63,48,7,10,22,"{0,397,1065,1153,1404,1982,3394,3691,3933,4792...","{0,138,602,627,863,1186,1466,1715,1743,2970,29...","{""{\""start\"":300,\""end\"":346,\""last_death\"":33..."
999999,f,2147,0,1974,0,63,196,7,10,22,"{0,80,150,87,-725,-802,-618,-679,-472,-558,-12...","{0,-71,146,189,-269,-401,-351,-455,-18,258,739...","{""{\""start\"":334,\""end\"":389,\""last_death\"":37..."

In [115]:
#radiant tower status
radiant_ancient_bottom = [] 
radiant_ancient_top = [] 
radiant_bot_tier3 = [] 
radiant_bot_tier2  = [] 
radiant_bot_tier1  = [] 
radiant_mid_tier3 = [] 
radiant_mid_tier2  = [] 
radiant_mid_tier1  = [] 
radiant_top_tier3 = [] 
radiant_top_tier2  = [] 
radiant_top_tier1  = [] 

for z in df["tower_status_radiant"]:
    element = format(z,"016b")
    if element[5]=='1':
        radiant_ancient_bottom.append(1)
    else:
        radiant_ancient_bottom.append(0)
    if element[6]=='1':
        radiant_ancient_top.append(1)
    else:
        radiant_ancient_top.append(0)
    if element[7]=='1':
        radiant_bot_tier3.append(1)
    else:
        radiant_bot_tier3.append(0)
    if element[8]=='1':
        radiant_bot_tier2.append(1)
    else:
        radiant_bot_tier2.append(0) 
    if element[9]=='1':
        radiant_bot_tier1.append(1)
    else:
        radiant_bot_tier1.append(0) 
    if element[10]=='1':
        radiant_mid_tier3.append(1)
    else:
        radiant_mid_tier3.append(0) 
    if element[11]=='1':
        radiant_mid_tier2.append(1)
    else:
        radiant_mid_tier2.append(0)
    if element[12]=='1':
        radiant_mid_tier1.append(1)
    else:
        radiant_mid_tier1.append(0)
    if element[13]=='1':
        radiant_top_tier3.append(1)
    else:
        radiant_top_tier3.append(0)
    if element[14]=='1':
        radiant_top_tier2.append(1)
    else:
        radiant_top_tier2.append(0)
    if element[15]=='1':
        radiant_top_tier1.append(1)
    else:
        radiant_top_tier1.append(0)

df["radiant_ancient_bottom"] = radiant_ancient_bottom 
df["radiant_ancient_top"] = radiant_ancient_top 
df["radiant_bot_tier3"] = radiant_bot_tier3 
df["radiant_bot_tier2"] = radiant_bot_tier2  
df["radiant_bot_tier1"] = radiant_bot_tier1   
df["radiant_mid_tier3"] = radiant_mid_tier3  
df["radiant_mid_tier2"] = radiant_mid_tier2   
df["radiant_mid_tier1"] = radiant_mid_tier1  
df["radiant_top_tier3"] = radiant_top_tier3 
df["radiant_top_tier2"] =radiant_top_tier2  
df["radiant_top_tier1"] =radiant_top_tier1

In [116]:
#dire tower status
dire_ancient_bottom = [] 
dire_ancient_top = [] 
dire_bot_tier3 = [] 
dire_bot_tier2  = [] 
dire_bot_tier1  = [] 
dire_mid_tier3 = [] 
dire_mid_tier2  = [] 
dire_mid_tier1  = [] 
dire_top_tier3 = [] 
dire_top_tier2  = [] 
dire_top_tier1  = [] 

for z in df["tower_status_dire"]:
    element = format(z,"016b")
    if element[5]=='1':
        dire_ancient_bottom.append(1)
    else:
        dire_ancient_bottom.append(0)
    if element[6]=='1':
        dire_ancient_top.append(1)
    else:
        dire_ancient_top.append(0)
    if element[7]=='1':
        dire_bot_tier3.append(1)
    else:
        dire_bot_tier3.append(0)
    if element[8]=='1':
        dire_bot_tier2.append(1)
    else:
        dire_bot_tier2.append(0) 
    if element[9]=='1':
        dire_bot_tier1.append(1)
    else:
        dire_bot_tier1.append(0) 
    if element[10]=='1':
        dire_mid_tier3.append(1)
    else:
        dire_mid_tier3.append(0) 
    if element[11]=='1':
        dire_mid_tier2.append(1)
    else:
        dire_mid_tier2.append(0)
    if element[12]=='1':
        dire_mid_tier1.append(1)
    else:
        dire_mid_tier1.append(0)
    if element[13]=='1':
        dire_top_tier3.append(1)
    else:
        dire_top_tier3.append(0)
    if element[14]=='1':
        dire_top_tier2.append(1)
    else:
        dire_top_tier2.append(0)
    if element[15]=='1':
        dire_top_tier1.append(1)
    else:
        dire_top_tier1.append(0)

df["dire_ancient_bottom"] = dire_ancient_bottom 
df["dire_ancient_top"] = dire_ancient_top 
df["dire_bot_tier3"] = dire_bot_tier3 
df["dire_bot_tier2"] = dire_bot_tier2  
df["dire_bot_tier1"] = dire_bot_tier1   
df["dire_mid_tier3"] = dire_mid_tier3 
df["dire_mid_tier2"] = dire_mid_tier2   
df["dire_mid_tier1"] = dire_mid_tier1  
df["dire_top_tier3"] = dire_top_tier3 
df["dire_top_tier2"] = dire_top_tier2  
df["dire_top_tier1"] = dire_top_tier1

In [118]:
#dire barracks
dire_bot_ranged = [] 
dire_bot_melee = [] 
dire_mid_ranged = [] 
dire_mid_melee  = [] 
dire_top_ranged  = [] 
dire_top_melee = [] 


for z in df["barracks_status_dire"]:
    element = format(z,"08b")
    if element[2]=='1':
        dire_bot_ranged.append(1)
    else:
        dire_bot_ranged.append(0)
    if element[3]=='1':
        dire_bot_melee.append(1)
    else:
        dire_bot_melee.append(0)
    if element[4]=='1':
        dire_mid_ranged.append(1)
    else:
        dire_mid_ranged.append(0)
    if element[5]=='1':
        dire_mid_melee.append(1)
    else:
        dire_mid_melee.append(0) 
    if element[6]=='1':
        dire_top_ranged.append(1)
    else:
        dire_top_ranged.append(0) 
    if element[7]=='1':
        dire_top_melee.append(1)
    else:
        dire_top_melee.append(0) 

df["dire_bot_ranged"] = dire_bot_ranged 
df["dire_bot_melee"] = dire_bot_melee  
df["dire_mid_ranged"] = dire_mid_ranged 
df["dire_mid_melee"] = dire_mid_melee 
df["dire_top_ranged"] = dire_top_ranged  
df["dire_top_melee"] = dire_top_melee

In [119]:
#radiant barracks
radiant_bot_ranged = [] 
radiant_bot_melee = [] 
radiant_mid_ranged = [] 
radiant_mid_melee  = [] 
radiant_top_ranged  = [] 
radiant_top_melee = [] 


for z in df["barracks_status_radiant"]:
    element = format(z,"08b")
    if element[2]=='1':
        radiant_bot_ranged.append(1)
    else:
        radiant_bot_ranged.append(0)
    if element[3]=='1':
        radiant_bot_melee.append(1)
    else:
        radiant_bot_melee.append(0)
    if element[4]=='1':
        radiant_mid_ranged.append(1)
    else:
        radiant_mid_ranged.append(0)
    if element[5]=='1':
        radiant_mid_melee.append(1)
    else:
        radiant_mid_melee.append(0) 
    if element[6]=='1':
        radiant_top_ranged.append(1)
    else:
        radiant_top_ranged.append(0) 
    if element[7]=='1':
        radiant_top_melee.append(1)
    else:
        radiant_top_melee.append(0) 

df["radiant_bot_ranged"] = radiant_bot_ranged 
df["radiant_bot_melee"] = radiant_bot_melee  
df["radiant_mid_ranged"] = radiant_mid_ranged 
df["radiant_mid_melee"] = radiant_mid_melee 
df["radiant_top_ranged"] = radiant_top_ranged  
df["radiant_top_melee"] = radiant_top_melee

In [120]:
#reformating
#some values from this website https://wiki.teamfortress.com/wiki/WebAPI/GetMatchDetails#Tower_Status

rdf = df
#converting radiant win binary 
rdf['radiant_win'] = rdf['radiant_win'].replace('t', 1)
rdf['radiant_win'] = rdf['radiant_win'].replace('f', 0)

#keeping it exclusively ranked matches
rdf = rdf[rdf["lobby_type"] == 7]
rdf = rdf[rdf["game_mode"] == 22]

#making sure there's no "NaN"
rdf = rdf.dropna(subset=['teamfights', 'radiant_gold_adv','radiant_xp_adv'])

rdf = rdf.drop("tower_status_radiant",axis=1)
rdf = rdf.drop("tower_status_dire",axis=1)

print(rdf.shape)
print(rdf)

(3887, 45)
        radiant_win  duration  barracks_status_radiant  barracks_status_dire  \
299               0      1374                        0                    63
420               1      3208                       63                     3
421               0      2638                        0                    63
422               0      2953                        3                    63
832               1      1956                       63                     3
1380              0      3082                        0                    63
2314              0      1723                        0                    63
2315              0      1320                       48                    63
2316              1      2914                       55                     3
2571              0      2325                        0                    63
2588              1      2016                       63                     0
2652              0      2154                        0                    63
2654              1      2489                       63                     0
3090              1      1876                       63                     3
3649              0      2385                        0                    63
4154              1      1496                       63                    51
4255              0      2004                        3                    63
4256              1      3684                       63                     0
5075              1      2967                       15                    48
5371              1      3708                       63                     0
5380              0      1929                        0                    63
5383              0      2540                        0                    63
5617              1      2016                       63                     3
5619              1      3044                        3                     0
6104              1      2349                       63                    48
6289              1      1153                       63                    48
6413              1      3921                       60                     0
6414              1      3898                        3                    51
6534              0      2960                        0                    51
6551              0      1747                        0                    60
...             ...       ...                      ...                   ...
995284            0      2427                        0                    63
995335            0      2843                        0                    63
995534            1      2582                       63                     0
995535            0      1580                        0                    63
995537            1      2230                       63                     0
995976            0      2152                        0                    63
995978            1      1390                       63                     0
997987            1      2701                       63                     0
997988            1      1970                       63                     0
997990            0      2085                        3                    63
998654            0      2073                        0                    63
999045            1      2003                       63                     0
999047            1      2849                       63                     3
999048            1      2229                       63                     0
999115            0      1836                        3                    63
999214            1      1925                       63                     0
999215            1      2287                       63                     3
999370            0      3639                        0                    15
999371            1      2367                       63                     3
999372            0      1822                        0                    63
999421            1      2930                       51                     0
999423            1      3677                       63                     0
999524            0      2903                        0                    63
999525            1      3215                       63                     0
999526            1      2084                       63                     0
999713            0      2741                        0                    63
999716            1      2705                       63                     0
999995            0      1935                        0                    63
999998            0      2927                        0                    63
999999            0      2147                        0                    63

        first_blood_time  lobby_type  human_players  game_mode  \
299                   45           7             10         22
420                   17           7             10         22
421                    0           7             10         22
422                    8           7             10         22
832                  306           7             10         22
1380                  12           7             10         22
2314                 130           7             10         22
2315                 113           7             10         22
2316                   6           7             10         22
2571                   7           7             10         22
2588                   4           7             10         22
2652                 505           7             10         22
2654                   0           7             10         22
3090                   1           7             10         22
3649                 112           7             10         22
4154                  75           7             10         22
4255                 133           7             10         22
4256                 207           7             10         22
5075                 174           7             10         22
5371                 208           7             10         22
5380                  43           7             10         22
5383                 205           7             10         22
5617                  71           7             10         22
5619                 106           7             10         22
6104                 131           7             10         22
6289                  23           7             10         22
6413                 378           7             10         22
6414                 223           7             10         22
6534                   0           7             10         22
6551                 268           7             10         22
...                  ...         ...            ...        ...
995284               189           7             10         22
995335               254           7             10         22
995534                95           7             10         22
995535               167           7             10         22
995537               151           7             10         22
995976               117           7             10         22
995978                 3           7             10         22
997987               197           7             10         22
997988                81           7             10         22
997990               319           7             10         22
998654                84           7             10         22
999045               338           7             10         22
999047               228           7             10         22
999048                 1           7             10         22
999115                49           7             10         22
999214               171           7             10         22
999215                 0           7             10         22
999370               110           7             10         22
999371               172           7             10         22
999372                13           7             10         22
999421                19           7             10         22
999423                22           7             10         22
999524               180           7             10         22
999525               192           7             10         22
999526                12           7             10         22
999713               121           7             10         22
999716               103           7             10         22
999995                 0           7             10         22
999998                48           7             10         22
999999               196           7             10         22

                                         radiant_gold_adv  \
299     {0,-438,-1480,-1742,-1031,-1162,-1291,-2304,-2...
420     {0,224,35,138,-289,-536,-444,-299,-563,-1206,-...
421     {120,-1,246,-121,58,14,9,-208,-541,-651,-892,1...
422     {0,-262,-203,-482,-471,-141,-70,-545,-243,245,...
832     {16,212,-29,40,-156,301,707,1311,159,1014,1997...
1380    {0,-557,-738,-375,-419,-364,-92,-211,-1072,-16...
2314    {0,-23,303,823,1420,547,583,361,802,90,73,118,...
2315    {0,119,813,632,-277,310,-198,-649,-889,-1642,-...
2316    {0,-743,-1407,-1994,-2060,-2447,-2580,-2902,-3...
2571    {0,324,-56,-211,-47,244,528,853,902,176,-541,-...
2588    {0,-198,-743,-610,-419,144,124,374,190,-904,-6...
2652    {0,-17,5,65,270,-59,75,115,24,300,108,-127,-40...
2654    {361,277,440,932,1318,2363,2593,3305,2947,2068...
3090    {0,8,-310,-81,-127,122,-89,775,1262,1144,2048,...
3649    {0,-326,-998,-947,-1458,-2813,-2751,-3675,-562...
4154    {0,-129,216,-143,75,148,968,942,424,999,2060,2...
4255    {0,-32,-194,663,1114,1003,279,810,229,-382,-11...
4256    {0,-84,-109,-636,-1317,-1664,-1805,-2741,-3019...
5075    {0,165,220,-114,375,548,1080,872,968,735,-377,...
5371    {0,85,-71,-115,77,106,-134,82,-524,-1894,-2148...
5380    {0,-184,-114,0,331,28,233,-493,23,197,-41,1398...
5383    {0,129,304,367,-188,293,776,2217,2907,3016,228...
5617    {0,-4,-180,-458,-909,-1109,-1071,-1317,-1457,-...
5619    {0,-294,-669,-1605,-2119,-3587,-3486,-3516,-52...
6104    {0,9,90,631,1257,1239,2286,1323,821,1117,1129,...
6289    {0,-164,-287,-37,-199,506,258,1176,1337,2347,2...
6413    {0,-110,-104,-383,-369,-754,-676,-472,-9,273,-...
6414    {0,-8,199,436,-486,-355,-483,-831,-1231,-1568,...
6534    {-361,-109,-463,-431,-254,-493,-641,-798,592,3...
6551    {-14,-55,-156,-578,178,322,90,-129,136,307,509...
...                                                   ...
995284  {0,-67,-166,90,-285,-374,-450,-304,-225,-1249,...
995335  {0,168,324,421,572,1009,1196,1024,753,472,-120...
995534  {0,-89,219,381,841,783,1084,1063,1327,1760,186...
995535  {0,-196,18,117,-229,-70,-373,39,647,411,367,-5...
995537  {0,38,45,823,85,-19,-196,-238,-369,-418,32,139...
995976  {0,-114,-387,-887,-647,-1061,47,198,163,2429,3...
995978  {-18,768,317,1268,1092,1301,1355,1550,1948,131...
997987  {0,-36,63,105,284,162,172,614,664,1441,1631,17...
997988  {0,88,609,1119,1570,1352,1951,1706,1931,2700,3...
997990  {0,-48,-64,193,169,-121,765,268,219,-68,939,34...
998654  {0,136,-209,-299,-318,276,180,318,571,76,1576,...
999045  {0,91,160,186,153,266,1090,1451,1667,1919,3005...
999047  {0,374,526,527,218,229,292,-122,-367,-253,550,...
999048  {0,-527,-654,-495,-650,-1140,-2097,-2915,-2792...
999115  {0,-678,-607,-460,-160,-452,-500,-598,998,511,...
999214  {0,-228,-201,-263,-377,-355,-191,-23,209,574,2...
999215  {-346,-408,-590,-542,-485,-724,-482,-1268,-105...
999370  {0,-273,-870,-640,279,235,-329,-263,344,292,30...
999371  {0,-8,-151,-698,-801,-755,-1259,-949,-135,918,...
999372  {0,511,69,163,207,-434,-371,-459,-407,-113,227...
999421  {0,-689,-872,-683,-708,-1106,-715,-1484,-1472,...
999423  {0,443,589,723,274,492,658,671,39,-78,48,820,1...
999524  {0,235,251,368,210,-210,693,-131,-503,-1159,-1...
999525  {0,-21,41,343,4,-24,20,370,1071,-165,-311,237,...
999526  {0,-137,-16,-60,226,632,699,813,308,923,769,-1...
999713  {0,-85,-128,537,1148,804,1510,424,1142,1925,22...
999716  {0,2,-511,-117,-340,77,-743,313,-529,-493,-459...
999995  {-371,-246,-838,-1353,-2680,-2618,-3547,-3937,...
999998  {0,397,1065,1153,1404,1982,3394,3691,3933,4792...
999999  {0,80,150,87,-725,-802,-618,-679,-472,-558,-12...

                                           radiant_xp_adv  ...  \
299     {0,-59,-983,-1236,-1040,-900,-1264,-2481,-2846...  ...
420     {0,90,253,467,375,-76,233,43,-7,311,227,1056,3...  ...
421     {130,133,488,367,317,-426,-333,-251,-251,-108,...  ...
422     {0,-177,-295,-342,-346,220,140,-808,115,111,25...  ...
832     {30,327,83,434,-47,573,553,1172,429,2103,3993,...  ...
1380    {0,-328,218,611,979,1331,1588,1797,285,998,276...  ...
2314    {0,-231,-326,107,544,-400,-292,-58,752,-93,-63...  ...
2315    {0,118,278,638,10,1058,422,-237,-653,-733,437,...  ...
2316    {0,-549,-775,-1412,-1249,-1735,-1363,-1927,-27...  ...
2571    {0,149,-215,-462,168,410,454,806,518,-529,-160...  ...
2588    {0,59,-960,-845,-490,-574,-528,-475,-700,-1479...  ...
2652    {0,-72,-36,79,40,-760,-1160,-1655,-2121,-1496,...  ...
2654    {128,56,300,693,1118,1616,1638,2613,2505,1503,...  ...
3090    {0,-122,-466,57,-55,399,-68,1085,1667,1798,295...  ...
3649    {0,-293,-836,-538,-1305,-2088,-2304,-3097,-360...  ...
4154    {0,-124,-283,-751,-1295,-1429,-861,-1051,-1798...  ...
4255    {0,17,-160,410,311,336,-266,245,-478,48,1096,1...  ...
4256    {0,-182,59,-643,-963,-1606,-2002,-2812,-3253,-...  ...
5075    {0,12,-114,-438,124,-355,5,-532,-530,-640,-192...  ...
5371    {0,103,305,575,-521,-439,-1292,-816,-2185,-149...  ...
5380    {0,25,116,57,612,319,370,-473,40,210,262,2059,...  ...
5383    {0,282,286,799,287,1164,2040,2727,4195,4637,38...  ...
5617    {0,71,-542,-761,-1175,-1657,-1943,-2161,-2486,...  ...
5619    {0,-258,172,-735,-1209,-1328,-596,-583,-1814,-...  ...
6104    {0,36,-24,346,499,241,848,-27,-372,202,238,-26...  ...
6289    {0,239,-69,578,-59,543,120,1352,1377,2583,2880...  ...
6413    {0,-297,-42,-277,-31,72,244,644,1518,2584,1710...  ...
6414    {0,134,630,845,-131,594,560,-27,-1056,-820,-70...  ...
6534    {-128,133,-339,-345,93,-455,-336,-690,631,60,4...  ...
6551    {-30,-197,-16,-3,293,-130,-698,-873,-1244,-103...  ...
...                                                   ...  ...
995284  {0,-76,-726,-722,-624,-833,-1147,-813,-608,-15...  ...
995335  {0,252,180,210,595,745,939,474,-96,-415,-1449,...  ...
995534  {0,-154,-91,-400,-348,-576,-534,-143,-44,754,9...  ...
995535  {0,-182,613,632,-385,181,-349,112,780,365,427,...  ...
995537  {0,-83,-111,227,-256,-175,37,-49,-43,266,571,1...  ...
995976  {0,-81,-16,-265,19,-230,651,662,423,2218,3150,...  ...
995978  {-30,375,241,790,696,930,1002,994,686,-462,969...  ...
997987  {0,-88,65,-66,2,480,524,1220,1404,2677,3089,32...  ...
997988  {0,64,405,753,1399,1563,2307,2162,2410,3471,47...  ...
997990  {0,119,152,339,498,351,896,709,382,237,1159,45...  ...
998654  {0,229,346,422,340,820,451,604,672,-88,797,409...  ...
999045  {0,294,448,567,704,964,1867,2242,3074,2895,434...  ...
999047  {0,379,245,517,323,-147,-30,-299,-289,-279,-80...  ...
999048  {0,-120,-401,-453,-826,-937,-1868,-2726,-2627,...  ...
999115  {0,-324,-293,-498,-348,-546,-593,-613,287,-866...  ...
999214  {0,-281,-473,-701,-947,-1356,-1332,-1595,-1169...  ...
999215  {-129,-120,73,82,-10,-527,-349,-778,-561,547,6...  ...
999370  {0,-223,-78,333,1113,1080,222,418,1293,1792,17...  ...
999371  {0,74,-190,-632,-141,-28,-400,181,877,1070,692...  ...
999372  {0,472,124,736,733,239,-17,362,283,295,914,-35...  ...
999421  {0,-246,-720,45,185,-100,313,-383,-539,-968,-4...  ...
999423  {0,-250,72,175,-221,17,186,179,-241,-345,-371,...  ...
999524  {0,149,431,661,623,182,383,-358,-752,-1187,-15...  ...
999525  {0,51,-74,130,-212,-433,-768,-388,390,-144,-17...  ...
999526  {0,305,163,-123,16,286,180,500,-142,899,495,98...  ...
999713  {0,79,321,972,1638,1562,2192,665,1230,1698,190...  ...
999716  {0,61,-317,-201,-308,202,-342,916,-26,27,120,5...  ...
999995  {-128,62,-223,-363,-1373,-1080,-2093,-2063,-22...  ...
999998  {0,138,602,627,863,1186,1466,1715,1743,2970,29...  ...
999999  {0,-71,146,189,-269,-401,-351,-455,-18,258,739...  ...

       dire_mid_ranged  dire_mid_melee  dire_top_ranged  dire_top_melee  \
299                  1               1                1               1
420                  0               0                1               1
421                  1               1                1               1
422                  1               1                1               1
832                  0               0                1               1
1380                 1               1                1               1
2314                 1               1                1               1
2315                 1               1                1               1
2316                 0               0                1               1
2571                 1               1                1               1
2588                 0               0                0               0
2652                 1               1                1               1
2654                 0               0                0               0
3090                 0               0                1               1
3649                 1               1                1               1
4154                 0               0                1               1
4255                 1               1                1               1
4256                 0               0                0               0
5075                 0               0                0               0
5371                 0               0                0               0
5380                 1               1                1               1
5383                 1               1                1               1
5617                 0               0                1               1
5619                 0               0                0               0
6104                 0               0                0               0
6289                 0               0                0               0
6413                 0               0                0               0
6414                 0               0                1               1
6534                 0               0                1               1
6551                 1               1                0               0
...                ...             ...              ...             ...
995284               1               1                1               1
995335               1               1                1               1
995534               0               0                0               0
995535               1               1                1               1
995537               0               0                0               0
995976               1               1                1               1
995978               0               0                0               0
997987               0               0                0               0
997988               0               0                0               0
997990               1               1                1               1
998654               1               1                1               1
999045               0               0                0               0
999047               0               0                1               1
999048               0               0                0               0
999115               1               1                1               1
999214               0               0                0               0
999215               0               0                1               1
999370               1               1                1               1
999371               0               0                1               1
999372               1               1                1               1

In [121]:
#for long running cleaning

#replacing gold_adv array to last element of array (what they end up getting at the end of the game)
for x in rdf['radiant_gold_adv']:
    text = x
    text = text.replace('{', '')
    text = text.replace('}', '')
    text = text.split(',')
    element = int(text[-1])
    index = (rdf['radiant_gold_adv']==x).idxmax()
    rdf['radiant_gold_adv'][index] = element

#replacing xp_adv array to last element of array (what they end up getting at the end of the game)
for x in rdf['radiant_xp_adv']:
    text = x
    text = text.replace('{', '')
    text = text.replace('}', '')
    text = text.split(',')
    element = int(text[-1])
    index = (rdf['radiant_xp_adv']==x).idxmax()
    rdf['radiant_xp_adv'][index] = element

C:\Users\aegis\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\aegis\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [122]:
#teamfights might change it to number of teamfights
for x in rdf['teamfights']:
    text = x
    text = text.split('"start')
    element = len(text)
    index = (rdf['teamfights']==x).idxmax()
    rdf['teamfights'][index] = element

C:\Users\aegis\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [124]:
rdf = rdf.drop("lobby_type", axis=1)
rdf = rdf.drop("game_mode", axis=1)
rdf

,radiant_win,duration,barracks_status_radiant,barracks_status_dire,first_blood_time,human_players,radiant_gold_adv,radiant_xp_adv,teamfights,radiant_ancient_bottom,...,dire_mid_ranged,dire_mid_melee,dire_top_ranged,dire_top_melee,radiant_bot_ranged,radiant_bot_melee,radiant_mid_ranged,radiant_mid_melee,radiant_top_ranged,radiant_top_melee
299,0,1374,0,63,45,10,-27097,-12710,4,0,...,1,1,1,1,0,0,0,0,0,0
420,1,3208,63,3,17,10,17736,23617,13,1,...,0,0,1,1,1,1,1,1,1,1
421,0,2638,0,63,0,10,-32423,-28504,14,0,...,1,1,1,1,0,0,0,0,0,0
422,0,2953,3,63,8,10,-22818,-18509,16,0,...,1,1,1,1,0,0,0,0,1,1
832,1,1956,63,3,306,10,32094,39541,13,1,...,0,0,1,1,1,1,1,1,1,1
1380,0,3082,0,63,12,10,-23233,-5860,17,0,...,1,1,1,1,0,0,0,0,0,0
2314,0,1723,0,63,130,10,-40967,-23736,10,0,...,1,1,1,1,0,0,0,0,0,0
2315,0,1320,48,63,113,10,-21398,-16288,6,0,...,1,1,1,1,1,1,0,0,0,0
2316,1,2914,55,3,6,10,14147,21607,16,1,...,0,0,1,1,1,1,0,1,1,1
2571,0,2325,0,63,7,10,-30449,-26200,10,0,...,1,1,1,1,0,0,0,0,0,0
2588,1,2016,63,0,4,10,21495,13152,8,1,...,0,0,0,0,1,1,1,1,1,1
2652,0,2154,0,63,505,10,-22544,-16701,9,0,...,1,1,1,1,0,0,0,0,0,0
2654,1,2489,63,0,0,10,38428,38704,10,1,...,0,0,0,0,1,1,1,1,1,1
3090,1,1876,63,3,1,10,28956,33746,14,1,...,0,0,1,1,1,1,1,1,1,1
3649,0,2385,0,63,112,10,-37952,-44785,13,0,...,1,1,1,1,0,0,0,0,0,0
4154,1,1496,63,51,75,10,26635,27675,7,1,...,0,0,1,1,1,1,1,1,1,1
4255,0,2004,3,63,133,10,-33693,-25454,12,0,...,1,1,1,1,0,0,0,0,1,1
4256,1,3684,63,0,207,10,16388,-469,15,1,...,0,0,0,0,1,1,1,1,1,1
5075,1,2967,15,48,174,10,16969,16891,11,0,...,0,0,0,0,0,0,1,1,1,1
5371,1,3708,63,0,208,10,12687,14261,20,1,...,0,0,0,0,1,1,1,1,1,1
5380,0,1929,0,63,43,10,-39123,-38400,10,0,...,1,1,1,1,0,0,0,0,0,0
5383,0,2540,0,63,205,10,-29743,-19211,10,0,...,1,1,1,1,0,0,0,0,0,0
5617,1,2016,63,3,71,10,23244,17871,10,1,...,0,0,1,1,1,1,1,1,1,1
5619,1,3044,3,0,106,10,15064,6055,19,1,...,0,0,0,0,0,0,0,0,1,1
6104,1,2349,63,48,131,10,28929,30591,7,1,...,0,0,0,0,1,1,1,1,1,1
6289,1,1153,63,48,23,10,36751,23571,2,1,...,0,0,0,0,1,1,1,1,1,1
6413,1,3921,60,0,378,10,7659,4638,8,1,...,0,0,0,0,1,1,1,1,0,0
6414,1,3898,3,51,223,10,7212,2449,19,0,...,0,0,1,1,0,0,0,0,1,1
6534,0,2960,0,51,0,10,-17343,-8669,15,0,...,0,0,1,1,0,0,0,0,0,0
6551,0,1747,0,60,268,10,-19625,-15824,7,0,...,1,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995284,0,2427,0,63,189,10,-36684,-34726,6,0,...,1,1,1,1,0,0,0,0,0,0
995335,0,2843,0,63,254,10,-19392,-1057,11,0,...,1,1,1,1,0,0,0,0,0,0
995534,1,2582,63,0,95,10,12368,8814,16,1,...,0,0,0,0,1,1,1,1,1,1
995535,0,1580,0,63,167,10,-29635,-20605,7,0,...,1,1,1,1,0,0,0,0,0,0
995537,1,2230,63,0,151,10,20813,15095,6,1,...,0,0,0,0,1,1,1,1,1,1
995976,0,2152,0,63,117,10,-33606,-39261,10,0,...,1,1,1,1,0,0,0,0,0,0
995978,1,1390,63,0,3,10,39337,14055,5,1,...,0,0,0,0,1,1,1,1,1,1
997987,1,2701,63,0,197,10,20115,13780,12,1,...,0,0,0,0,1,1,1,1,1,1
997988,1,1970,63,0,81,10,37876,25105,4,1,...,0,0,0,0,1,1,1,1,1,1
997990,0,2085,3,63,319,10,-34289,-36064,9,0,...,1,1,1,1,0,0,0,0,1,1
998654,0,2073,0,63,84,10,-33450,-32108,7,0,...,1,1,1,1,0,0,0,0,0,0
999045,1,2003,63,0,338,10,27198,20009,9,1,...,0,0,0,0,1,1,1,1,1,1
999047,1,2849,63,3,228,10,12911,13876,10,1,...,0,0,1,1,1,1,1,1,1,1
999048,1,2229,63,0,1,10,19419,12017,5,1,...,0,0,0,0,1,1,1,1,1,1
999115,0,1836,3,63,49,10,-39477,-46144,10,0,...,1,1,1,1,0,0,0,0,1,1
999214,1,1925,63,0,171,10,35152,37911,11,1,...,0,0,0,0,1,1,1,1,1,1
999215,1,2287,63,3,0,10,9411,3597,12,1,...,0,0,1,1,1,1,1,1,1,1
999370,0,3639,0,15,110,10,-19624,2155,13,0,...,1,1,1,1,0,0,0,0,0,0
999371,1,2367,63,3,172,10,26452,25366,8,1,...,0,0,1,1,1,1,1,1,1,1
999372,0,1822,0,63,13,10,-29517,-22918,4,0,...,1,1,1,1,0,0,0,0,0,0
999421,1,2930,51,0,19,10,19612,24166,16,0,...,0,0,0,0,1,1,0,0,1,1
999423,1,3677,63,0,22,10,3515,1106,19,1,...,0,0,0,0,1,1,1,1,1,1
999524,0,2903,0,63,180,10,-23279,-11141,11,0,...,1,1,1,1,0,0,0,0,0,0
999525,1,3215,63,0,192,10,26379,24872,11,1,...,0,0,0,0,1,1,1,1,1,1
999526,1,2084,63,0,12,10,31565,29530,10,1,...,0,0,0,0,1,1,1,1,1,1
999713,0,2741,0,63,121,10,-8550,-10395,14,0,...,1,1,1,1,0,0,0,0,0,0
999716,1,2705,63,0,103,10,31471,36242,13,1,...,0,0,0,0,1,1,1,1,1,1
999995,0,1935,0,63,0,10,-48709,-37528,10,0,...,1,1,1,1,0,0,0,0,0,0
999998,0,2927,0,63,48,10,-33687,-20588,15,0,...,1,1,1,1,0,0,0,0,0,0
999999,0,2147,0,63,196,10,-40118,-38173,6,0,...,1,1,1,1,0,0,0,0,0,0

In [2]:
from sklearn.model_selection import KFold

def accuracy(conf_mat):
    return (conf_mat[0, 0] + conf_mat[1, 1])/np.sum(np.ravel(conf_mat))
def error_rate(conf_mat):
    return 1 - accuracy(conf_mat) 

k = 5 
threshold = 0.5
kf = KFold(n_splits=k, shuffle=True)
train_trrs = []
test_trrs = []

for train_index, test_index in kf.split(rdf):
    df_train = rdf.iloc[train_index, :]
    df_test = rdf.iloc[test_index, :]
    
    # logistic regression on training data
    #res = smf.logit('', data=).fit(disp=0)
    res = smf.logit('radiant_win', data=df).fit(disp=0)
    
    # training total error rate 
    train_pred = (res.predict(df_train) > threshold).astype(int)
    train_conf_mat = metrics.confusion_matrix(df_train['Survived'], train_pred)
    train_trr = error_rate(train_conf_mat)
    
    # test total error rate 
    test_pred = (res.predict(df_test) > threshold).astype(int)
    test_conf_mat = metrics.confusion_matrix(df_test['Survived'], test_pred)
    test_trr = error_rate(test_conf_mat)
    
    # record training error and test error
    train_trrs.append(train_trr)
    test_trrs.append(test_trr)
    
# summarize results into a table
res_table = pd.DataFrame()
res_table['training error rate'] = train_trrs
res_table['test error rate'] = test_trrs
res_table

NameError: name 'df' is not defined

In [ ]:
predictors = df.columns.values[1:]

formula = 'BehaviorResponse ~ ' + ' + '.join(predictors)
print(formula)

results = smf.ols(formula, data=df).fit()
results.summary()